body{
    background-color:rgb(235, 206, 235);
}
ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #8c5d88;
  }
  
  li {
    float: left;
  }
  
  li a {
    color: white;
    display: block;
    padding: 14px 16px; 
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #ef8615;
  }

  li b {
    color: white;
    display: block;
    padding: 8px 16px; 
    text-decoration: none;
  }

  .aaa {
    background-color: #d662c3;
  }

  .derecha {
    float: right;
  }

  .buscador {
    height: 23px;
    border: 2px solid #c22d90;
    border-radius: 5px;
  }

  button {
    display: inline-block;
    padding: 7px 10px;
    text-align: center;
    border: 1px solid #83327c;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f08dcf;
    color: white;
  }
  

  .miJumbo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 32px 16px;
    background-color: #dfa4a4;
    border-radius: 0.5rem;
    text-align: center;
  }